<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aakashdeep.radioOn">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="RadioOn"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.aakashdeep.radioOn.ActivityMain"
            android:label="RadioOn"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.aakashdeep.radioOn.ActivityLogin"
            android:noHistory="true"
            android:launchMode="singleTop" />
        <activity android:name="com.aakashdeep.radioOn.ActivityRegister"   />
        <activity android:name="com.aakashdeep.radioOn.ActivityProfile" />
        <activity android:name="com.aakashdeep.radioOn.ActivityChat"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTop"    />
        <activity android:name="com.aakashdeep.radioOn.ActivityAddContact"  />
        <activity android:name="com.aakashdeep.radioOn.ActivityFriendProfile"  />
        <activity android:name="com.aakashdeep.radioOn.ActivityNotifications"   />

        <service
            android:name="com.aakashdeep.radioOn.AppService"
            android:enabled="true"
            android:exported="true"
            android:stopWithTask="false" />

        <receiver
            android:name="com.aakashdeep.radioOn.AppReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.aakashdeep.radioOn.restartservice" />
            </intent-filter>
        </receiver>


    </application>

</manifest>